 <!-- About Section -->
    <section class="success" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Esse é um portifólio para fim de exposição de jogos desenvolvidos do curso de Programação de Jogos Digitais, na plataforma Construct2.</p>
                </div>
                <div class="col-lg-4">
                    <p> Os jogos não tem fins comerciais, são desenvolvidos por causas educacionais, sociais e de entretenimento.
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
